.gcdOutputContainer {
  display: flex;
  flex: 1;
  padding: 10%;
  flex-direction: row;

  table {
    margin: 10px auto;

    td {
      border: 1px solid black;
      margin:0;
      padding: 10px;


    }
  }
}